.filter-product {
  display: flex;

  justify-content: center;
  background-color: antiquewhite;
  padding: 10px;
}
.custom-radio .form-check-input[type="radio"] {
  width: 10px;
  height: 10px;
}
.custom-radio input[type="radio"] {
  transform: scale(1.5); /* Adjust the scale as needed */
}
